@tailwind base;
@tailwind components;
@tailwind utilities;

body input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
  box-shadow: 0 0 0 1000px #cbd5e1 inset !important;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  color-scheme: dark;
  --in: 0.7206 0.191 231.6;
  --su: 64.8% 0.15 160;
  --wa: 0.8471 0.199 83.87;
  --er: 0.7176 0.221 22.18;
  --pc: 0.13138 0.0392 275.75;
  --sc: 0.1496 0.052 342.55;
  --ac: 0.14902 0.0334 183.61;
  --inc: 0 0 0;
  --suc: 0 0 0;
  --wac: 0 0 0;
  --erc: 0 0 0;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 0.6569 0.196 275.75;
  --s: 0.748 0.26 342.55;
  --a: 0.7451 0.167 183.61;
  --n: 0.313815 0.021108 254.139175;
  --nc: 0.746477 0.0216 264.435964;
  --b1: 0.253267 0.015896 252.417568;
  --b2: 0.232607 0.013807 253.100675;
  --b3: 0.211484 0.01165 254.087939;
  --bc: 0.746477 0.0216 264.435964;
}

/* 預設字體 背景 顏色 不然手機會看不到 */
body {
  color: #a6adbb;
  min-height: 100vh;
}

.bg-base-300 {
  --tw-bg-opacity: 1;
  background-color: #15191e;
}

.bg-base-200 {
  --tw-bg-opacity: 1;
  background-color: #191e24;
}

.bg-base-100 {
  --tw-bg-opacity: 1;
  background-color: #1d232a;
}
